#site-hero__section{
  background-color: #1B2330;
  background-image: url("../../img/site-hero-bg.png");
  background-position: bottom -100px left 0px;
  background-repeat: no-repeat;
  background-size: contain;
}

.site-hero{
  text-align: center;
  color: white;
}

.hero__title{
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  width: 70%;
  margin: 0 auto;
  margin-top: 35px;
}

.hero__subtitle{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 50%;
  margin: 32px auto;
}